<div class="col-12 d-flex justify-content-flex-start flex-column align-items-center w-100">
  {{#if config.withRoot}}
    <div class="d-flex justify-content-around align-items-center w-100">
      <div>
        <h1 style="font-size: 15vmin;">{{root}}</h1>
      </div>
      <div>
        <h1 style="font-size: 5vmin;">=== {{selectedStep}} ===&gt;</h1>
      </div>
      <div>
        <h1 style="font-size: 15vmin;">{{selectedStepKey}}</h1>
      </div>
    </div>
  {{else}}
    <div>
      <h1 style="font-size: 20vmin;">{{selectedStep}}</h1>
    </div>
  {{/if}}
</div>
