<div class="col-12 d-flex justify-content-flex-center w-100">
  {{#if config.withRoot}}
    <div class="d-flex justify-content-flex-center align-items-center flex-column w-100">
      <div>
        <h1 style="font-size: 30vmin;">{{root}}</h1>
      </div>
      <div>
        <h1 style="font-size: 10vmin;">
          {{start}}/{{startKey}} - {{end}}/{{endKey}}
        </h1>
      </div>
    </div>
  {{else}}
    <div>
      <h1 style="font-size: 30vmin;">{{start}} - {{end}}</h1>
    </div>
  {{/if}}
</div>
