<div class="col-sm">
  <div class="form-group w-50">
    {{concat secondsStr " seconds"}}
    {{range-slider start=config.duration connect="lower" step=step range=range on-slide="durationChanged"}}
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" class="form-check-input" checked={{config.includeMajor}} onchange={{action "configChanged" "includeMajor"}} />
      Include Major
    </label>
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" class="form-check-input" checked={{config.includeMinor}} onchange={{action "configChanged" "includeMinor"}} />
      Include Minor
    </label>
  </div>
</div>
