<div class="notesy-progress-bar">
  <canvas width={{canvasWidth}} height={{canvasHeight}} class="w-100 h-100">
  </canvas> 
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      {{#power-select
        options=roots
        placeholder="Global Root"
        selected=globalRoot
        searchEnabled=false
        allowClear=true
        onchange=(action "selectedGlobalRoot") as |rootOption|}}
        {{rootOption}}
      {{/power-select}}
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          {{#each availableComponents as |availableComponent|}}
            <div class="config-checkbox form-check form-check-inline {{if (eq availableComponent.key activeConfiguration) 'activeConfig'}}">
              <label>
                <input type="checkbox" class="form-check-input" checked={{availableComponent.active}} onchange={{action "activeComponentChanged" availableComponent.key}} />
                <a class="{{concat availableComponent.name '-link'}}" href="javascript:void;" {{action "showConfiguration" availableComponent.key}}>
                  {{availableComponent.name}}
                </a>
              </label>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="row">
        {{#each availableComponents as |availableComponent|}}
          <div class="col-sm config-component activeConfig {{unless (eq availableComponent.key activeConfiguration) 'd-none'}}">
            {{component
              availableComponent.config 
              prefsKey=availableComponent.key config=(get configs availableComponent.key)
              onChange=(action "configChanged" availableComponent.key)}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    {{#each availableComponents as |availableComponent|}}
    {{/each}}
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center w-100">
      {{#if activeComponentName}}
        {{component
          activeComponentName
          globalRoot=globalRoot
          config=(get configs activeComponentKey)
          onStart=(action "startComponent")}}
      {{/if}}
    </div>
  </div>
</div>
