<div class="col-12 d-flex justify-content-flex-start align-items-center flex-column w-100">
  {{#if config.withRoot}}
    <div>
      <h1 style="font-size: 20vmin;">{{root}}</h1>
    </div>
    <div>
      <h1 style="font-size: 20vmin;">{{selectedInterval}}/{{selectedIntervalKey}}</h1>
    </div>
  {{else}}
    <div>
      <h1 style="font-size: 30vmin;">{{selectedInterval}}</h1>
    </div>
  {{/if}}
</div>
